mat-list {
  width: 100%;
  margin-top: 70px;

  mat-list-item {
    font-size: 15px;
    font-weight: 400;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-bottom: solid 1px rgb(237, 230, 230);

    &:hover {
      cursor: pointer;
      background-color: gainsboro;
    }

    &.active {
      background-color: #6675c8;
      color: white;
      transition: background-color 0.3s, color 0.3s, font-size 0.3s;
    }
  }
}