<mat-list role="list">
  <mat-list-item role="listitem" routerLink="departements" routerLinkActive="active"><a
      style="font-size: 18px;">Departments</a></mat-list-item>
  <mat-list-item role="listitem" routerLink="employees" routerLinkActive="active"><a
      style="font-size: 18px;">Employees</a></mat-list-item>
  <mat-list-item role="listitem" routerLink="dashboard" routerLinkActive="active"><a
      style="font-size: 18px;">Dashboard</a></mat-list-item>
  <mat-list-item role="listitem" routerLink="projects" routerLinkActive="active"><a
      style="font-size: 18px;">Projects</a></mat-list-item>
</mat-list>