.menu-icon {
  cursor: pointer;
}

.container {
  height: 90vh;

  .mat-drawer {
    width: 12%;
  }

  .test {
    position: fixed;
    height: 80vh;
    width: 80vw;
    z-index: 90;
    top: 50%
  }
}