.container {
  width: 90%;
  margin: auto;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px 0;

    mat-form-field {
      width: 100%;
    }

    button {
      background-color: #198754;
      color: white;
      width: 140px;
      margin-bottom: 10px;
    }
  }

  mat-card {
    margin: 0;
  }

  table {
    width: 100%;
  }

  .no-data {
    color: red;
    font-size: medium;
    text-align: center;
    width: 100%;
  }
}