.detail {
  width: 400px;

  h1 {
    margin-bottom: 40px;
  }

  .row {
    display: flex;

    mat-label {
      width: 100px;
    }

    p {
      flex: 1
    }
  }

  button.mat-raised-button {
    // margin-left: auto;
    width: 100%;
  }
}